
.form-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    box-sizing: border-box;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    background-color: white;
    color: black;
    padding: 1.5rem;
    margin: 5rem auto;
    width: 60%;
    

 
   
}
.adhd-options{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    flex-wrap: wrap;
   

}
.adhd-questions{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    border-bottom: 1px dashed black;
 flex-wrap: wrap;
}













.conner-cotainer{

        width:30rem;
        padding:1.5rem;
        box-sizing: border-box;
        box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.4);   
        border-radius: 5px;
        background-color: #0871a9;
        margin:3rem auto ;
        /* margin-bottom: 2rem;     */
        display: flex;
        flex-direction: column;
        gap:2rem;  
        color: white;
        height: 30vh;
        flex-wrap: wrap;
 
}
.conner-input-field{
    display: flex;
    gap:1rem;
    margin: 0.5rem;
    flex-wrap: wrap;
}
.conner-input-field label{
    flex:1;  
}
.heading{
    box-sizing: border-box;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.4);   
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}

.instruction{
    box-sizing: border-box;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.4);   
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    width: 50rem;
    margin-left: 28rem;
    padding: 1rem;
    border-left: 5px solid #0871a9;
    background-color: #57a8d4;
    
}
