.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding: 2.5 vmax;
  background-color: rgb(117, 117, 117);
  color: white;
  position: absolute;
  /* margin-top: 5%;          */
  width:100%;  
  /* position:absolute;
  bottom: 0%; */
}

.footer>div{
    display: flex;
    flex-direction: column;
    margin: 1vmax;
}