.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding: 2.5 vmax;
  background-color: #437f86;
  color: white;
 

       bottom:0;  
  width:100%;  


  
}

.footer>div{
    display: flex;
    flex-direction: column;
    margin: 1vmax;
}