.PreNavbar{
    background-color: black;
    display: grid;
    grid-template-columns: 5fr 2fr;
    color: white;
}
.PreNavbar > div{
padding: 0.5vmax 4vmax;
display: flex;
align-items: center;
}
.PreNavbar > div > span{
    background-color: rgb(107, 104, 104);
    font-weight: 100;
    font-size: 0.8vmax;
}
.PreNavbar > div> a{
    text-decoration: none;
    color: rgb(173, 170, 170);
    font-size: 1vmax;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
    margin: 1vmax;
}
.PreNavbar > div> a:hover{
    color: white;
}